.date-picker-icon {
	width: 20px;
	height: 20px;
	color: $gray-500;
}

body {
	.rmdp-container {
		flex: 1;
		// position: fixed;
		.rmdp-input {
			width: 100% !important;
			border-color: transparent !important;
			box-shadow: none !important;
			color: $gray-500 !important;
			font-weight: 500 !important;
			font-size: 12px !important;
		}

		.rmdp-ep-arrow {
			display: none;
		}

		.sd {
			background-color: transparent !important;
			box-shadow: none !important;
		}

		.rmdp-wrapper {
			box-shadow: 0 0 0px #8798ad !important;
			border: 1px solid $gray-200 !important;

			.rmdp-selected {
				background-color: $gray-300 !important;
				box-shadow: none !important;
				border-radius: 0px;
			}

			.rmdp-range {
				background-color: $gray-300 !important;
				box-shadow: none !important;
				border-radius: 0px;
				color: $gray-500 !important;
			}

			.rmdp-week {
				gap: 1px;
			}

			.rmdp-today {
				background-color: $gray-400 !important;
				box-shadow: none !important;
				border-radius: 0px;
			}

			.rmdp-ym {
				span {
					background-color: transparent !important;
					box-shadow: none !important;
				}
				.rmdp-selected span {
					color: #535345 !important;
				}
			}

			.rmdp-day {
				margin: 1px 0px !important;
			}

			.rmdp-day:hover {
				background-color: $gray-500 !important;
				box-shadow: none !important;
				border-radius: 0px;
			}

			.rmdp-arrow {
				display: none;
			}

			.rmdp-left {
				&::before {
					content: '«';
					cursor: pointer;
					font-size: 18px;
					position: absolute;
					z-index: 100;
					color: $gray-500 !important;
				}
			}

			.rmdp-right {
				&::before {
					content: '»';
					cursor: pointer;
					font-size: 18px;
					position: absolute;

					z-index: 100;
					color: $gray-500 !important;
				}
			}

			.rmdp-header-values {
				span {
					padding: 2px 5px;
					border-radius: 0px;

					&:hover {
						background-color: $gray-400 !important;
						box-shadow: none !important;
						border-radius: 0px;
					}
				}
			}

			.rmdp-week {
				.rmdp-day {
					&:first-child,
					&:last-child {
						background-color: $gray-100 !important;
					}
				}
			}
		}

		.rmdp-header {
			padding: 0px 0px;

			.rmdp-arrow-container {
				border: 1px solid $gray-300 !important;
				border-radius: 4px;
				display: flex;
				width: 25px;
				height: 25px;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: $gray-100 !important;
					box-shadow: none !important;
					border-radius: 0px;
					overflow: hidden;
					border-radius: 4px;
				}
			}
		}
	}
}
